<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.23/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <meta charset="UTF-8">
    <title>Algorithm Category</title>
</head>
<body>
<dialog id="my_modal_1" class="modal modal-open">
    <div class="card w-96 bg-primary text-primary-content shadow-xl">
        <div class="card-body">
            {% include "question.html" %}
        </div>
    </div>
</dialog>
</body>
</html>