<div hx-target="this" hx-swap="outerHTML">
    <h2 class="card-title">What's the category of my algorithm?</h2>
    <div class="overflow-x-auto text-sm">
        <table class="table">
            <tbody>
            {% for q, a in textqa %}
            <tr>
                <th>{{q}}</th>
                <td>{{a}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if category is defined %}
    <div class="badge badge-secondary badge-lg">{{category}}</div>
    {% else %}
    <form hx-post="/question/{{question.label}}">
        <div>
            <p>{{question.question}}</p>
            <div>
                {% for a in question.answers %}
                <div class="form-control">
                    <label class="label cursor-pointer">
                        <span class="label-text">{{a.text}}</span>
                        <input type="radio" name="answer" value="{{a.label}}" class="radio checked:bg-blue-500"/>
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-block">Continue</button>
    </form>
    {% endif %}
</div>